.cta{
  background:#7700FF;
  border:none;
  color:white;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
}

.results{
  margin-top: 50px;
}
strong{
  display:block;
}
span{
  margin-bottom: 20px;
  display: block;
}
