<div class="container-fluid">
  <h1>Contact Me</h1>

  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <h5 *ngIf="success">successfully submitted</h5>
    <label>
      Name:
      <input type="text" formControlName="name" placeholder="input name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">
          Your Name is required to submit
        </div>
      </div>
    </label>
    <label>
      Message:
      <textarea formControlName="message" placeholder="send me a message"></textarea>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">
          A Message is requried to submit
        </div>
      </div>
    </label>
    <input type="submit" value="Send Message" class="cta">
  </form>

  <div *ngIf="submitted" class="results">
    <strong>Name:</strong>
    <span>{{messageForm.controls.name.value}}</span>
    <strong>Message:</strong>
    <span>{{messageForm.controls.message.value}}</span>
  </div>
</div>
